@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Bold'), local('Alegreya-Bold'), url("http://themes.googleusercontent.com/static/fonts/alegreya/v3/F5BSMOSf_T8GT2wiqqpj3brIa-7acMAeDBVuclsi6Gc.woff") format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Italic'), local('Alegreya-Italic'), url("http://themes.googleusercontent.com/static/fonts/alegreya/v3/Q-XbT1m22Fi9BEKb7y59O73hpw3pgy2gAi-Ip7WPMi0.woff") format('woff');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya SC'), local('AlegreyaSC-Regular'), url("http://themes.googleusercontent.com/static/fonts/alegreyasc/v3/-74JUGs8W14C5cCBFRS307rIa-7acMAeDBVuclsi6Gc.woff") format('woff');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya SC Bold'), local('AlegreyaSC-Bold'), url("http://themes.googleusercontent.com/static/fonts/alegreyasc/v3/M9OIREoxDkvynwTpBAYUqxbnBKKEOwRKgsHDreGcocg.woff") format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url("http://themes.googleusercontent.com/static/fonts/alegreya/v3/MYFQxfgoxFvFirdbdLj3M3YhjbSpvc47ee6xR_80Hnw.woff") format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Bold Italic'), local('Alegreya-BoldItalic'), url("http://themes.googleusercontent.com/static/fonts/alegreya/v3/IWi8e5bpnqhMRsZKTcTUWnbFhgvWbfSbdVg11QabG8w.woff") format('woff');
}
