<div id="header">
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <p class="site-subtitle">{{ site.subtitle }}</p>
  {% endif %}
</div>
<div id="links">
  {% if page.current == 'blog' %}
    <a href="{{ root_url }}/" class="current">Blog</a>
  {% else %}
    <a href="{{ root_url }}/">Blog</a>
  {% endif %} /

  {% if page.current == 'about' %}
    <a href="{{ root_url }}/about" class="current">About</a>
  {% else %}
    <a href="{{ root_url }}/about">About</a>
  {% endif %} /

  {% if page.current == 'talks' %}
    <a href="{{ root_url }}/talks" class="current">Talks</a>
  {% else %}
    <a href="{{ root_url }}/talks">Talks</a>
  {% endif %} /

  {% if page.current == 'archives' %}
    <a href="{{ root_url }}/blog/archives" class="current">Archives</a>
  {% else %}
    <a href="{{ root_url }}/blog/archives">Archives</a>
  {% endif %} /

  {% if site.twitter_user %}
    <a target="_blank" class="twitter" href="https://twitter.com/{{ site.twitter_user }}" title="Twitter">Twitter</a>
  {% endif %} /

  {% if site.github_user %}
    <a target="_blank" class="github" href="https://github.com/{{ site.github_user }}" title="GitHub">GitHub</a>
  {% endif %} /

  {% if site.subscribe_rss %}
    <a target="_blank" class="feed" href="{{ site.subscribe_rss }}" title="RSS">Feed</a>
  {% endif %}
</div>
