@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: normal;
    src: local('Muli'),
         url('http://themes.googleusercontent.com/static/fonts/muli/v4/4JP8Oo8WMm9wLMEcgMao6qCWcynf_cDxXwCLxiixG1c.woff') format('woff');
}
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: normal;
    src: local('Muli'),
         url('http://themes.googleusercontent.com/static/fonts/muli/v4/aPKVZQP5bPhPmkslHsPwswLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli'),
         url('http://themes.googleusercontent.com/static/fonts/muli/v4/lLK6Ti7OrkZ-H3bZOtR4mg.woff') format('woff');
}
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 400;
    src: local('Muli'),
         url('http://themes.googleusercontent.com/static/fonts/muli/v4/vnO7LQ7nK0zeiFo-iVq45_esZW2xOQ-xsNqO47m55DA.woff') format('woff');
}
